$gloomy-purple: #7f56d9;
$sambucus: #101828;
$flinstone: #667085; // nav icon color
$dragonlord-purple: #6941c6;
$sugar-crystal: #f9f5ff;
$chefs-hat: #f2f4f7; // hero bg - nav border
$dr-white: #f9fafb; // trusted companies bg
$placebo-fuchsia: #f4ebff;
$cactus-water: #d1fadf;
$midnight-express: #1d2939;
$ruthless-empress: #53389e;
$placebo-turquoise: #ecfdf3;
$blarney-stone: #027a48;
$vesper-violet: #98a2b3;
$lavender-savor: #e9d7fe;
$satin-white: #d0d5dd;
$base-white: #ffffff;
$black-river-falls: #344054;
$bordo: #610000;
$bright-grey: #eaecf0;
