.side-form {
  box-shadow: 1px 1px 1px 1px grey;
  font-family: 'DM Sans';
  background-color: #fff;
  width: 40%;
  max-width: 400px;
  padding: 20px;
  height: 100%;
  &_user-info {
    &_img-container {
      &_img {
        width: 70px;
        border-radius: 50%;
      }
    }

    &_infos {
      &_name {
        font-weight: 500;
        font-size: 22px;
      }
      &_role {
        font-weight: 300;
        font-size: 14px;
        color: $flinstone;
      }
    }
  }
  &_form {
    &_form-group {
      display: flex;
      flex-direction: column;
      input {
        box-shadow: 1px 1px 1px 1px grey;
        border-radius: 10px;
        padding: 2px;
      }
    }
  }
}
