@import '@/assets/scss/abstracts/_variables.scss';

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #e1bee7;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: $bordo;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom;
  }

  &:hover {
    &::after {
      transform: scaleY(1);
    }
  }
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;

  li {
    padding: 10px;
    color: $bordo;
    font-size: 19px;
  }
}

.buttons {
  button {
    &:nth-child(1) {
      border: 1px solid $bordo !important;
      color: $bordo;
      height: 40px;

      &:hover {
        border: 1px solid $bordo !important;
        color: #fff;
        height: 40px;
        background-color: $bordo;
      }
    }

    &:nth-child(2) {
      border: 1px solid $bordo !important;
      background-color: $bordo;
      color: #fff;
      height: 40px;
    }
  }
}
