@import '@/assets/scss/abstracts/_variables.scss';

.features {
  padding: 0px 0px 96px;
  gap: 64px;
  width: 1440px;
  height: 960px;
  background: #ffffff;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;

  &_header-container {
    padding: 0px 32px;
    gap: 32px;
    width: 1280px;
    height: 160px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &_content {
      gap: 48px;
      width: 1216px;
      height: 160px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      &_heading {
        gap: 20px;
        width: 768px;
        height: 160px;
        flex: none;
        order: 0;
        flex-grow: 0;

        &_head {
          gap: 12px;
          width: 768px;
          height: 80px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          &_sub-heading {
            width: 768px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $bordo;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }
          &_main-heading {
            width: 768px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            color: #101828;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }
        &_support-text {
          width: 768px;
          height: 60px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: $flinstone;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
        }
      }
    }
  }

  &_content-container {
    padding: 0px 32px;
    gap: 64px;
    width: 1280px;
    height: 640px;
    flex: none;
    order: 1;
    flex-grow: 0;

    &_content-left {
      width: 576px;
      height: 486px;
      flex: none;
      order: 0;
      flex-grow: 1;

      &_feature-tab {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0px 16px 24px;
        gap: 20px;
        width: 576px;
        height: 162px;
        border-left: 4px solid $chefs-hat;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        &_text {
          gap: 8px;
          width: 552px;
          height: 86px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          .text {
            width: 552px;
            height: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $sambucus;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }

          .supporting-text {
            width: 552px;
            height: 48px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $flinstone;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }

        &_btn {
          gap: 8px;
          width: 115px;
          height: 24px;
          flex: none;
          order: 1;
          flex-grow: 0;

          .text {
            width: 87px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: $bordo;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-bottom: 0px;
          }

          .icon-box {
            width: 20px;
            height: 20px;
            flex: none;
            order: 1;
            flex-grow: 0;
            .icon {
              position: relative;
              color: $bordo;
              margin-top: 3px;
            }
          }
        }

        &:nth-child(1) {
          border-left: 4px solid $bordo;
        }
      }
    }
    &_content-right {
      width: 576px;
      height: 640px;
      background: $lavender-savor;
      flex: none;
      order: 1;
      flex-grow: 1;

      &_cards-wrap {
        position: absolute;
        width: 576px;
        height: 640px;
        left: calc(50% - 576px / 2);
        top: calc(50% - 640px / 2);
      }
    }
  }
}


