@import '@/assets/scss/abstracts/_variables.scss';

.footer {
  width: 100%;
  height: 630px;
  background: #ffffff;
  flex: none;
  order: 9;
  align-self: stretch;
  flex-grow: 0;

  &_join-section {
    padding: 48px 0px;
    gap: 64px;
    width: 100%;
    height: 158px;
    background: $dr-white;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    &_container {
      padding: 0px 32px;
      gap: 64px;
      width: 1280px;
      height: 62px;
      flex: none;
      order: 0;
      flex-grow: 0;

      &_content {
        gap: 32px;
        width: 1216px;
        height: 62px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &_text-and-support {
          gap: 8px;
          width: 784px;
          height: 62px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 1;

          &_text {
            width: 784px;
            height: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #101828;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }

          &_support {
            width: 784px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $flinstone;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }
        &_email-capture {
          gap: 16px;
          width: 400px;
          height: 44px;
          flex: none;
          order: 1;
          flex-grow: 0;

          &_input-field {
            gap: 6px;
            width: 270px;
            height: 44px;
            flex: none;
            order: 0;
            flex-grow: 1;

            &_input-container {
              gap: 6px;
              width: 270px;
              height: 44px;
              flex: none;
              order: 0;
              align-self: stretch;
              flex-grow: 0;

              &_input {
                padding: 10px 14px;
                gap: 8px;
                width: 270px;
                height: 44px;
                background: #ffffff;
                border: 1px solid $satin-white;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
              }
            }
          }

          &_btn {
            padding: 10px 18px;
            gap: 8px;
            box-sizing: border-box;
            width: 114px;
            height: 44px;
            background: $bordo;
            border: 1px solid $bordo;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            flex: none;
            order: 1;
            flex-grow: 0;

            &_btn-text {
              width: 78px;
              height: 24px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
              flex: none;
              order: 1;
              flex-grow: 0;
            }
          }
        }
      }
    }
  }

  &_links-section {
    padding: 64px 0px 48px;
    gap: 64px;
    width: 1440px;
    height: 472px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    &_link-container {
      padding: 0px 32px;
      gap: 48px;
      width: 1280px;
      height: 240px;
      flex: none;
      order: 0;
      flex-grow: 0;

      &_content {
        gap: 64px;
        width: 1216px;
        height: 240px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &_logo-and-supporting {
          gap: 32px;
          width: 320px;
          height: 112px;
          flex: none;
          order: 0;
          flex-grow: 0;

          &_logo {
            width: 152px;
            height: 32px;
            flex: none;
            order: 0;
            flex-grow: 0;

            &_logo-text {
              color: $sambucus;
              font-weight: 700;
              font-size: 22px;
            }
          }
          &_supporting {
            width: 320px;
            height: 48px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $flinstone;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }
        &_links {
          gap: 32px;
          width: 832px;
          height: 240px;
          flex: none;
          order: 1;
          flex-grow: 1;

          &_link-column {
            gap: 16px;
            width: 140.8px;
            height: 240px;
            flex: none;
            order: 0;
            flex-grow: 1;

            &_heading {
              width: 140.8px;
              height: 20px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              color: $vesper-violet;
              flex: none;
              order: 0;
              align-self: stretch;
              flex-grow: 0;
            }
            &_footer-links {
              gap: 12px;
              width: 140.8px;
              height: 204px;
              flex: none;
              order: 1;
              align-self: stretch;
              flex-grow: 0;

              &_footer-link {
                gap: 8px;
                width: 73px;
                height: 24px;
                flex: none;
                order: 0;
                flex-grow: 0;
                width: 73px;
                height: 24px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $flinstone;
                flex: none;
                order: 1;
                flex-grow: 0;

                .badge {
                  width: 42px;
                  height: 22px;
                  mix-blend-mode: multiply;
                  flex: none;
                  order: 1;
                  flex-grow: 0;

                  &_base {
                    padding: 2px 8px;
                    width: 42px;
                    height: 22px;
                    background: #ecfdf3;
                    border-radius: 16px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                    &_text {
                      width: 26px;
                      height: 18px;
                      font-family: 'Inter';
                      font-style: normal;
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 18px;
                      text-align: center;
                      color: #027a48;
                      flex: none;
                      order: 0;
                      flex-grow: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &_social-container {
      padding: 0px 32px;
      gap: 32px;
      width: 1280px;
      height: 56px;
      flex: none;
      order: 1;
      flex-grow: 0;

      &_content {
        padding: 32px 0px 0px;
        gap: 32px;
        box-sizing: border-box;
        width: 1216px;
        height: 56px;
        border-top: 1px solid $bright-grey;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &_footer-text {
          width: 920px;
          height: 24px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $vesper-violet;
          flex: none;
          order: 0;
          flex-grow: 1;
        }

        &_social-icons {
          gap: 24px;
          width: 264px;
          height: 24px;
          flex: none;
          order: 1;
          flex-grow: 0;

          &_social-icon {
            width: 24px;
            height: 24px;
            flex: none;
            order: 0;
            flex-grow: 0;
            text-align: center;

            &_icon {
              color: #98a2b3;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
