@import '@/assets/scss/abstracts/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inter:wght@600&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

.hero {
  font-family: 'Inter';
  font-style: normal;
  gap: 96px;
  width: 85%;

  order: 0;

  top: 0;

  &_header-container {
    padding: 0px 32px;
    gap: 32px;
    width: 90%;

    order: 0;

    &_content {
      gap: 48px;
      width: 60%;

      order: 0;

      &_heading {
        gap: 24px;

        order: 0;

        .heading {
          color: $sambucus;
          font-weight: 600;
          font-size: 3.75em;
          line-height: 4.68rem;
          letter-spacing: -0.02em;

          order: 0;
        }
        .support-text {
          color: $flinstone;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;

          order: 1;
        }
      }

      &_actions {
        gap: 12px;

        order: 1;

        .action-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 16px 28px;
          gap: 12px;

          border-radius: 8px;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        }

        .demo-btn {
          background: #ffffff;
          order: 0;
          border: 1px solid $satin-white;

          &-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $black-river-falls;

            order: 1;
          }
        }

        .sign-btn {
          background: $bordo;
          order: 1;
          border: 1px solid $bordo;

          &-text {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #ffffff;

            order: 1;

            .play-icon-container {
              order: 0;

              .play-icon {
                position: absolute;
                border: 2px solid #344054;
              }
            }
          }
        }
      }
    }
  }

  &_img-container {
    padding: 0px 32px;
    gap: 32px;
    width: 100%;

    order: 1;

    &_content {
      width: 100%;
      background: $chefs-hat;
      border-radius: 16px;

      order: 0;

      &_cards {
        position: relative;
        left: 0px;
        right: 0px;
        top: -128px;
        bottom: 0px;
        border-radius: 16px;
        height: 608px;
        width: 100%;
        overflow: hidden;

        .card {
          border-radius: 20px;
          transform: rotate(30deg);
          position: absolute;
          box-sizing: border-box;
        }

        .card-1 {
          left: 56.66%;
          right: 17.35%;
          top: 1.64%;
          bottom: 67.11%;
        }

        .card-2 {
          left: 36.8%;
          right: 37.22%;
          top: 17.83%;
          bottom: 50.92%;
        }
        .card-3 {
          left: 80.31%;
          right: -6.29%;
          top: 28.95%;
          bottom: 39.8%;
          z-index: 0;
        }
        .card-4 {
          left: 60.44%;
          right: 13.57%;
          top: 45.13%;
          bottom: 23.62%;
        }
        .card-5 {
          left: 39.72%;
          right: 34.29%;
          top: 60.33%;
          bottom: 8.42%;
        }
        .card-6 {
          left: 19.85%;
          right: 54.16%;
          top: 76.51%;
        }
        .card-7 {
          left: 84.09%;
          right: -10.07%;
          top: 72.43%;
          bottom: -3.68%;
        }
        .card-8 {
          left: 63.37%;
          right: 10.65%;
          top: 87.63%;
          bottom: -18.88%;
        }
        .card-9 {
          left: 103.95%;
          right: -29.94%;
          top: 56.25%;
          bottom: 12.5%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .hero_header-container_content {
    width: 95%;
  }
}
