@import '@/assets/scss/abstracts/_variables.scss';

.pricing-section {
  padding: 96px 0px;
  gap: 64px;
  //width: 1440px;
  height: 956px;
  background: #ffffff;
  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;

  &_heading {
    padding: 0px 32px;
    gap: 32px;
    //width: 1280px;
    width: 90%;
    height: 128px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &_content {
      gap: 48px;
      // width: 1216px;
      width: 95%;
      height: 128px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      &_head-support-container {
        gap: 20px;
        width: 768px;
        height: 128px;
        flex: none;
        order: 0;
        flex-grow: 0;

        &_head {
          .sub-head {
            // width: 768px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $bordo;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }
          .main-head {
            width: 768px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            color: $sambucus;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }
        &_support {
          width: 768px;
          height: 28px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $flinstone;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
        }
      }
    }
  }

  &_content {
    padding: 0px 32px;
    gap: 96px;
    width: 1280px;
    height: 572px;
    flex: none;
    order: 1;
    flex-grow: 0;

    &_left-container {
      gap: 48px;
      width: 544px;
      height: 384px;
      flex: none;
      order: 0;
      flex-grow: 1;

      &_feature-text {
        gap: 16px;
        width: 544px;
        height: 96px;
        flex: none;
        align-self: stretch;
        flex-grow: 0;

        &_featured-icon {
          width: 48px;
          height: 48px;
          background: $placebo-fuchsia;
          border: 8px solid $dr-white;
          border-radius: 28px;
          flex: none;
          order: 0;
          flex-grow: 0;

          &_icon-circle {
            position: relative;
            margin-top: 4px;
            text-align: center;

            &_icon {
              color: $bordo;
              font-size: 18px;
            }
          }
        }
        &_content {
          gap: 20px;
          width: 480px;
          height: 96px;
          flex: none;
          order: 1;
          flex-grow: 1;

          &_text-support {
            padding: 10px 0px 0px;
            gap: 8px;
            width: 480px;
            height: 96px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            &_text {
              width: 480px;
              height: 30px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;
              color: $sambucus;
              flex: none;
              order: 0;
              align-self: stretch;
              flex-grow: 0;
            }
            &_support {
              width: 480px;
              height: 48px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: $flinstone;
              flex: none;
              order: 1;
              align-self: stretch;
              flex-grow: 0;
            }
          }
        }
      }
    }
    &_pricing-card {
      width: 576px;
      height: 572px;
      background: #ffffff;
      border: 1px solid $bright-grey;
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
        0px 4px 6px -2px rgba(16, 24, 40, 0.03);
      border-radius: 16px;
      flex: none;
      order: 1;
      flex-grow: 0;

      &_header {
        padding: 32px 32px 24px;
        gap: 32px;
        width: 576px;
        height: 128px;
        border-bottom: 1px solid $bright-grey;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &_heading-price {
          gap: 32px;
          width: 512px;
          height: 72px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          &_heading {
            padding: 4px 0px 0px;
            gap: 4px;
            width: 305px;
            height: 64px;
            flex: none;
            order: 0;
            flex-grow: 1;

            &_h-badge {
              gap: 8px;
              width: 199px;
              height: 32px;
              flex: none;
              order: 0;
              flex-grow: 0;

              .head {
                width: 119px;
                height: 32px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: $sambucus;
                flex: none;
                order: 0;
                flex-grow: 0;
              }

              .badge {
                width: 72px;
                height: 24px;
                mix-blend-mode: multiply;
                flex: none;
                order: 1;
                flex-grow: 0;

                &_base {
                  padding: 2px 10px;
                  width: 72px;
                  height: 24px;
                  background: $dr-white;
                  border-radius: 16px;
                  flex: none;
                  order: 0;
                  flex-grow: 0;

                  &_text {
                    width: 52px;
                    height: 20px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: $bordo;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                }
              }
            }
            &_text {
              width: 305px;
              height: 24px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: $flinstone;
              flex: none;
              order: 1;
              align-self: stretch;
              flex-grow: 0;
            }
          }
          &_price {
            gap: 2px;
            width: 175px;
            height: 72px;
            flex: none;
            order: 1;
            flex-grow: 0;

            &_dollar-wrap {
              padding: 0px 0px 20px;
              gap: 10px;
              width: 24px;
              height: 64px;
              flex: none;
              order: 0;
              flex-grow: 0;

              .text {
                width: 24px;
                height: 44px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                letter-spacing: -0.02em;
                color: $sambucus;
                flex: none;
                order: 0;
                flex-grow: 0;
              }
            }
            &_price-amount {
              width: 68px;
              height: 72px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 60px;
              line-height: 72px;
              letter-spacing: -0.02em;
              color: $sambucus;
              flex: none;
              order: 1;
              flex-grow: 0;
            }
            &_period-wrap {
              padding: 0px 0px 8px;
              width: 79px;
              height: 32px;
              flex: none;
              order: 2;
              flex-grow: 0;

              .text {
                width: 89px;
                height: 24px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $flinstone;
                flex: none;
                order: 0;
                flex-grow: 0;
              }
            }
          }
        }
      }
      &_content {
        padding: 32px 32px 40px;
        gap: 24px;
        width: 576px;
        box-sizing: border-box;
        height: 332px;
        border-bottom: 1px solid $bright-grey;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        &_text-support {
          gap: 4px;
          width: 512px;
          height: 52px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          &_text {
            width: 512px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $sambucus;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }
          &_support {
            width: 512px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $flinstone;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }
        &_check-items-wrap {
          gap: 32px;
          width: 512px;
          height: 184px;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;

          &_check-items {
            gap: 16px;
            width: 240px;
            height: 184px;
            flex: none;
            order: 0;
            flex-grow: 1;

            &_check-item {
              gap: 12px;
              width: 240px;
              height: 24px;
              flex: none;
              order: 0;
              align-self: stretch;
              flex-grow: 0;

              &_check-icon {
                width: 24px;
                height: 24px;
                background: #d1fadf;
                border-radius: 12px;
                flex: none;
                order: 0;
                flex-grow: 0;

                .icon {
                  position: relative;
                  color: #12b76a;
                  font-size: 22px;
                }
              }
              &_text-wrap {
                width: 204px;
                height: 24px;
                flex: none;
                order: 1;
                flex-grow: 1;

                &_text {
                  width: 204px;
                  height: 24px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                  color: $flinstone;
                  flex: none;
                  order: 0;
                  align-self: stretch;
                  flex-grow: 0;
                }
              }
            }
          }
        }
      }
      &_footer {
        padding: 32px;
        gap: 24px;
        width: 576px;
        height: 112px;
        background: #ffffff;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;

        &_actions {
          gap: 12px;
          width: 512px;
          height: 48px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          &_btn {
            padding: 12px 20px;
            gap: 8px;
            width: 512px;
            height: 48px;
            background: $bordo;
            border: 1px solid $bordo;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;

            &_text {
              width: 100px;
              height: 24px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
              flex: none;
              order: 1;
              flex-grow: 0;
            }
          }
        }
      }
    }
  }
}
