@import '@/assets/scss/abstracts/_variables.scss';

.pricing-section {
  padding: 96px 0px;
  gap: 64px;
  width: 1440px;
  height: 956px;
  background: #ffffff;
  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;

  &_heading {
    padding: 0px 32px;
    gap: 32px;
    width: 1280px;
    height: 128px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &_content {
      gap: 48px;
      width: 1216px;
      height: 128px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      &_head-support-container {
        gap: 20px;
        width: 768px;
        height: 128px;
        flex: none;
        order: 0;
        flex-grow: 0;

        &_head {
          .sub-head {
            width: 768px;
            height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $bordo;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }
          .main-head {
            width: 768px;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            color: $sambucus;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
          }
        }
        &_support {
          width: 768px;
          height: 28px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $flinstone;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
        }
      }
    }
  }

  &_content {
    padding: 0px 32px;
    gap: 96px;
    width: 1280px;
    height: 572px;
    flex: none;
    order: 1;
    flex-grow: 0;

    &_left-container {
      gap: 48px;
      width: 544px;
      height: 384px;
      flex: none;
      order: 0;
      flex-grow: 1;

      border: 1px solid black;
    }
    &_pricing-card {
      border: 1px solid black;
      width: 576px;
      height: 572px;
      background: #ffffff;
      border: 1px solid $bright-grey;
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
        0px 4px 6px -2px rgba(16, 24, 40, 0.03);
      border-radius: 16px;
      flex: none;
      order: 1;
      flex-grow: 0;

      &_header {
        padding: 32px 32px 24px;
        gap: 32px;
        width: 576px;
        height: 128px;
        border-bottom: 1px solid $bright-grey;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        &_heading-price {
          gap: 32px;
          width: 512px;
          height: 72px;
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;

          &_heading {
            padding: 4px 0px 0px;
            gap: 4px;
            width: 305px;
            height: 64px;
            flex: none;
            order: 0;
            flex-grow: 1;
          }
          &_price {
            gap: 2px;
            width: 175px;
            height: 72px;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
      }
      &_content {
        padding: 32px 32px 40px;
        gap: 24px;
        width: 576px;
        height: 332px;
        border-bottom: 1px solid $bright-grey;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
      }
      &_footer {
        padding: 32px;
        gap: 24px;
        width: 576px;
        height: 112px;
        background: #ffffff;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
      }
    }
  }
}
